In [ ]:
import pandas as pd
import numpy as np

#Task 1: Create a pandas DataFrame

In [ ]:
data = {
    'Feature1': np.random.rand(10),
    'Feature2': np.random.randint(1, 100, 10),
    'Feature3': np.random.choice(['A', 'B', 'C'], 10),
    'Feature4': np.random.randn(10),
    'Feature5': np.random.choice([True, False], 10)
}

df = pd.DataFrame(data)
df

   Feature1  Feature2 Feature3  Feature4  Feature5
0  0.725955        78        A -0.424845      True
1  0.001868        15        A  0.022627      True
2  0.162716        34        B  0.697887      True
3  0.834404        44        A -1.346521      True
4  0.646498        40        A -0.615860      True
5  0.794268        96        C -1.513152     False
6  0.483159        79        B -0.195492      True
7  0.929934         8        A  0.891921     False
8  0.998020        96        A -0.230340     False
9  0.453019        68        B  0.440360      True

#Task 2 : Check the info of 'df'

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Feature1  10 non-null     float64
 1   Feature2  10 non-null     int64
 2   Feature3  10 non-null     object
 3   Feature4  10 non-null     float64
 4   Feature5  10 non-null     bool
dtypes: bool(1), float64(2), int64(1), object(1)
memory usage: 458.0+ bytes
None

#Task 3 : Check the descriptive statistics of 'df'

In [ ]:
print(df.describe())

        Feature1   Feature2   Feature4
count  10.000000  10.000000  10.000000
mean    0.602984  55.800000  -0.227341
std     0.326961  32.016662   0.796796
min     0.001868   8.000000  -1.513152
25%     0.460554  35.500000  -0.568107
50%     0.686227  56.000000  -0.212916
75%     0.824370  78.750000   0.335927
max     0.998020  96.000000   0.891921

# Task 4 : Check the 4th index observation with 'loc' slicing operator

In [ ]:
print(df.loc[4])

Feature1    0.646498
Feature2          40
Feature3           A
Feature4    -0.61586
Feature5        True
Name: 4, dtype: object

# Task 5 : Check the null values in 'df'

In [ ]:
print(df.isnull().sum())

Feature1    0
Feature2    0
Feature3    0
Feature4    0
Feature5    0
dtype: int64